

// 全局样式变量命名规则 --jh-应用模块名-样式属性名缩写

:root {
	--jh-app-bg-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

html,
body,
#app {
	height: 100%;
	width: 100%;
	position: relative;
  background-color: var(--jh-app-bg-color);
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
	font-weight: 400;
  // 控制字体在浏览器中的渲染方式，以改善字体在不同环境下的显示效果，用于webkit（chrome、safari）
  -webkit-font-smoothing: antialiased;
  // 用于控制在移动设备上用户点击（或触摸）元素时，元素周围出现的高亮颜色
	-webkit-tap-highlight-color: rgba(0, 0, 255, 0.5);
  font-size: 14px;
	overflow: hidden;
}



/* cursor 鼠标形状
------------------------------- */
// 默认
.cursor-default {
	cursor: default !important;
}
// 帮助
.cursor-help {
	cursor: help !important;
}
// 手指
.cursor-pointer {
	cursor: pointer !important;
}
// 移动
.cursor-move {
	cursor: move !important;
}

/* 宽高 100%
------------------------------- */
.w100 {
	width: 100% !important;
}
.h100 {
	height: 100% !important;
}
.vh100 {
	height: 100vh !important;
}
.max100vh {
	max-height: 100vh !important;
}
.min100vh {
	min-height: 100vh !important;
}

